/roms/*

!/roms/pc/+Start DOSBox.sh
!/roms/pc/+Start DOSBox Configurator.sh
!/roms/pc/*.lib
!/roms/pc/dosbox.conf

!/roms/pc.system/.gitkeep
!/roms/pc.system/ULTRASND/.gitkeep

!/roms/pc.games/.gitkeep
